html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
    font-family: Cantarell, Arial, sans-serif;
}
body {
    background: #e2e2e2;
}
.container {
    width: 960px;
    background: #fff;
    min-height: 100%;
    margin: 0 auto;
    box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
}
.header {
    width: 920px;
    height: 1.44em;
    padding: 8px 20px;
    background: #0a0;
    color: #fff;
}
.header .title {
    float: left;
    font-size: 120%;
}
.header .logout {
    float: right;
}
.header .logout a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding-left: 20px;
}
.header .logout a:hover {
    text-decoration: underline;
}
.content {
    padding: 20px;
}
.transactions {
    width: 100%;
}
.transactions td:nth-child(2) {
    width: 60%;
}
.error_msg {
    color: red;
}
hr {
    border: none;
    border-top: 1px solid #aaa;
}
input {
    width: 200px;
    padding: 9px;
    border: 1px solid #aaa;
    border-radius: 0;
}
textarea {
    padding: 9px;
    border: 1px solid #aaa;
    border-radius: 0;
    
}
input[type="submit"] {
    margin: 0 auto;
    width: 200px;
    padding: 10px;
    border: none;
    background: #00a5eb;
    color: #fff;
}
input[type="submit"].verify {
    background: #21a500;
    width: 150px;
}
input[type="submit"].decline {
    background: #7b0000;
    width: 150px;
}
