html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    font-family: Tahoma, Arial, sans-serif;
}
body {
    background: #eee;
}
.container {
    width: 920px;
    padding: 20px;
    background: #fff;
    min-height: 100%;
    margin: 0 auto;
}
.transactions {
    width: 100%;
}
.transactions td:nth-child(2) {
    width: 60%;
}